<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://ec2-35-169-254-43.compute-1.amazonaws.com:5432/d1t0j97n06qs39?sslmode=require</property>
        <property name="connection.username">bpvpulttvxicpz</property>
        <property name="connection.password">bcb30f597056dd790cecbceda8e22f8ce16c2fbb00aa85979b0be570ca491da1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.default_schema">public</property>
        <mapping class="com.example.sardapp.entities.Intent" />
    </session-factory>
</hibernate-configuration>
